# Папки (игнорируем полностью)
__pycache__/
venv/
env/
.idea/

cache_markets_*
/settings/secret_settings.py
/withdraw_info_getter/gate_currencies_status.csv
/withdraw_info_getter/kucoin_currencies_status.csv
/settings/secret_settings.py
